.cart-body {
  display: inherit;
  flex-direction: column;
  max-width: 861px;
  width: auto;
  height: auto;
  &_ord-item {
    display: inherit;
    justify-content: space-between;
    width: auto;
    height: 215px;

    background-color: #f1f1f1;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0 40px 0;
    .ord-item {
      display: inherit;
      &_img {
        background-size: auto 215px;
        background-position: -80px 0 ;
        background-repeat: no-repeat;
        min-width: 185px;
        max-width: 185px;
        height: auto;
        border-radius: 8px 0 0 8px;
        display: inherit;
        &-gardient {
          display: inherit;
        }
      }
      &_lab {
        height: 32px;
        text-align: center;
        display: inherit;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24), 0 6px 16px rgba(0, 0, 0, 0.32);
        border-radius: 16px;
        margin: 16px auto 0 16px;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;

        &:hover {
          animation: jelly 0.5s;
        }
      }
      &_hidden {
        background-color: #0000;
        color: #0000;
        box-shadow: none;
      }
      &_new {
        width: 67px;
        background-color: #E30029;   
        color: #fff;
      }
      &_bonus {
        width: 93px;
        background-color: #FFE600;
        color: #333;
      }
      &_desc {
        display: inherit;
        flex-direction: column;
        align-items: flex-start;
        max-width: 676px;
        width: 100%;
        margin: 0 16px 0 40px;
      }
      &_header {
        width: 100%;
        display: inherit;
        justify-content: space-between;
        flex-direction: row;
        margin: 16px 0 10px 0;
      }
      &_footer {
        display: inherit;
        max-width: 286px;
        width: auto;
        height: 48px;
        margin: 24px 0 auto auto;
        justify-content: space-between;
        &__price {
          width: 61px;
          max-height: 48px;
          display: inherit;
          align-self: center;
          align-items: center;
          flex-direction: column;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;

          color: #ccc;
          b {
            font-weight: bold;
            font-size: 20px;
            line-height: 20px;

            color: #333;
          }
        }
        &__counter {
        display: inherit;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
          .counter_add, .counter_sub, .counter_val {
            background: #fff;
            border: 2px solid #CC693E;
            box-sizing: border-box;
          }
          .counter_add, .counter_sub {
            width: 40px;
            height: 48px;

            overflow: hidden;
            transition: 0.3s;
            &::before {
              background-color: #f1f1f1;
              transform: translate(-50%, -50%) rotate(-45deg) scaleX(0);
              transition: 0.3s;
            }
          
            &:hover {
              background: transparent;
          
              &::before {
                transform: translate(-50%, -50%) rotate(-45deg) scaleX(1);
              }
            }
            &:active {
              animation: lineJelly 0.5s;
            }
          }
          .counter_sub {
            border-right: 0;
            border-radius: 30px 0 0 30px;
          }
          .counter_add {
            border-left: 0;
            border-radius: 0 30px 30px 0;
          }
          .counter_val {
            width: 52px;
            height: 48px;
            
            display: inherit;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .h3-title {
        width: 580px;
        height: 32px;

        color: #000000;

        flex: none;
        order: 0;
        flex-grow: 0;
      }
      .article {
        max-width: 620px;
      }
    }
  }
  .cart_main {
    height: 1235px;
  }
  &_bonus {
    height: 363px;
    display: inherit;
    flex-direction: column;
    .cart_ord-item {
      display: inherit;
    }
  }
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

@keyframes lineJelly {
  25% {
    transform: scale(1.1, 1);
  }

  50% {
    transform: scale(1, 1);
  }

  75% {
    transform: scale(1.05, 1);
  }
}

@media (max-width: 992px)  {
  .cart-body {
    max-width: initial;
    &_ord-item {
      .ord-item {
        &_desc {
          max-width: initial;
        }
      }
    }
    .article {
      height: 78px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 678px) {
  .cart-body {
    height: auto;
    width: 100%;
    &_ord-item {
      margin: 0 0 8px 0;
      max-height: 60px;
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.16);
      border-radius: 0;
      .ord-item {
        justify-content: none;
        &_img {
          max-width: 150px;
          min-width: 150px;
          height: 60px;
          border-radius: 0;
          background-size: auto 123px;
          background-position: -31px -32px;
          background-repeat: no-repeat;
          &-gardient {
            background: linear-gradient(#00000080, #00000080);
            width: 100%;
          }
        }
        &_new, &_bonus {
          display: none;
        }
        &_desc {
          display: flex;
          flex-direction: row;
          width: calc(100% - 42px);
          position: absolute;
          margin: 0 0 0 10px;
          .ord-item_header {
            width: 134px;
            margin: 0;
            .button.button_icon.button__close {
              display: none;
            }
            .h3-title {
              font-weight: bold;
              font-size: 12px;
              line-height: 16px;

              display: flex;
              align-items: center;
              
              height: 60px;
              color: #fff;
            }
          }
          .article.article__second {
            display: none;
          }
        }
        &_footer {
          width: auto;
          margin: auto 0 auto auto;
          :first-child.ord-item_footer__price {
            display: none;
          }
          &__counter {
            align-items: center;
            margin: 0 0 0 15px;
            .counter_sub {
              width: 26px;
              border-radius: 30px 0 0 30px;
            }
            .counter_sub, .counter_add, .counter_val {
              height: 32px;
              background-color: #fff;
              /* Brand / Main 100 */
              box-sizing: border-box;

              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
  
              /* identical to box height, or 150% */
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
  
              /* Base / Black 60 */
              color: #666;
            }
            .counter_val {
              width: 36px;
            }
            .counter_add {
              width: 26px;
              border-radius: 0 30px 30px 0;
            }
          }
          &__price span {
            text-decoration-line: line-through;
          }
          &__price span, &__price b {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
    &_bonus {
      height: auto;
      .h2-title {
        font-size: 20px;
        line-height: 28px;
        margin: 8px 0 16px 0;
      }
      .cart-body_ord-item {
        margin: 0 0 32px 0;
        .ord-item_desc {
          .ord-item_header {
            width: calc(100% - 16px);
            .button.button_icon.button__close {
              display: flex;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 321px) {
  .cart-body {
    max-height: 472px;
    height: auto;
    width: 100%;
    &_ord-item {
      margin: 0 0 8px 0;
      max-height: 60px;
      background-color: #fff;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.16);
      border-radius: 0;
      .ord-item {
        &_img {
          max-width: 150px;
          min-width: 150px;
          height: 60px;
          border-radius: 0;
          background-size: auto 123px;
          background-position: -31px -32px;
          background-repeat: no-repeat;
          &-gardient {
            background: linear-gradient(#00000080, #00000080);
            width: 100%;
          }
        }
        &_new, &_bonus {
          display: none;
        }
        &_desc {
          display: flex;
          flex-direction: row;
          width: auto;
          position: relative;
          right: 174px;
          margin: 0 16px 0 40px;
          .ord-item_header {
            width: 134px;
            margin: 0;
            .button.button_icon.button__close {
              display: none;
            }
            .h3-title {
              font-size: 12px;
              line-height: 16px;

              display: flex;
              align-items: center;

              color: #fff;
              
              height: 60px;
            }
          }
          .article.article__second {
            display: none;
          }
        }
        &_footer {
          width: auto;
          margin: auto;
          :first-child.ord-item_footer__price {
            display: none;
          }
          &__counter {
            align-items: center;
            margin: 0 0 0 15px;
            .counter_sub {
              width: 26px;
              border-radius: 30px 0 0 30px;
            }
            .counter_sub, .counter_add, .counter_val {
              height: 32px;
              background-color: #fff;
              box-sizing: border-box;

              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
  
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
  
              /* Base / Black 60 */
              color: #666;
            }
            .counter_val {
              width: 36px;
            }
            .counter_add {
              width: 26px;
              border-radius: 0 30px 30px 0;
            }
          }
          &__price span {
            text-decoration-line: line-through;
          }
          &__price span, &__price b {
            font-weight: bold;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
    &_bonus {
      max-height: 152px;
      height: auto;
      .h2-title {
        font-size: 20px;
        line-height: 28px;
        margin: 0 0 16px 0;
      }
      .cart-body_ord-item {
        margin: 0 0 32px 0;
        .ord-item_desc {
          .ord-item_header {
            width: 288px;
            .button.button_icon.button__close {
              display: flex;
            }
          }
        }
      }
    }
  }
}