body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

@media (max-width: 320px) {
  body {
    margin: 0;
    max-width: 1278px;//320px; //1278px / 320px = 3.99375px
  }
}