@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
}

@media (max-width: 320px) {
  body {
    margin: 0;
    max-width: 1278px;
  }
}